/*
 * Julius Alvarado
  www.julius3d.com */

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

html, body {
    height: 100%;
}

.jsection {
    padding: 40px 0;
}

.jsection-b {
    padding: 40px 0 0 0;
}

h1, h2, h3 {
    font-weight: 900;
    text-transform: uppercase;
}

@media (min-width: 468px) {
    h1 {
        font-size: 80px;
    }
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

#about ul li {
    font-size: 20px;
    list-style: none;
    margin: 8px 0;
}

#about .jabout-ls {
    padding-top: 30px;
}

.j-frame {
    border: 2px solid #3c3c3c;
}

.jservices-content {
    padding: 20px;
}

.jumbotron {
    background-color: #353536;
    margin-bottom: 0;
}

.jservices-content * {
    margin: 20px;
}

.jh1-bold {
    font-weight: 900;
}

.jp-light {
    font-weight: 300;
}

/*
 * for background video */
#vid-element.jvid-header  {
    display: block;
    position: relative;
    width:auto;
    height: auto;
    padding: 100px 0;
    min-height: 100%;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #222;
}

.navbar {
    padding: 28px 14px;
    margin-bottom: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

@media (max-width: 400px) {
    .navbar-header {
        position: relative;
    }

    .navbar img {
        position: absolute;
        top:0;
        bottom:0;
        margin:auto;
        width:70%;
    }
}

.work-header {
    background-color: #353536;
    padding: 20px 0;
}

.work-text {
    text-align: center;
    color: whitesmoke;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-nav>li>a {
    color: #434343;
    font-weight: 800;
    font-size: 18px;
}

.cbp-af-header-shrink {
    padding: 4px 0;
    opacity: 0.8;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.fill-screen {
    -webkit-background-size: cover;
    background-size:cover;
    background-position: center;
}

.title-row {
    position: relative;
    min-height: 300px;
}

/*
 * This is the landing section image,
   the pivot point is the top-left corner of the image */
.title-image {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 33%;
}

#about img {
   box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.5)
}

@media (max-width: 767px) {
    .title-image {
        width: 250px;
        height:auto;
    }
}

.down-button {
    position: absolute;
    bottom:40px;
    width:100%;
    text-align: center;
}

.down-button i {
    color: #ffffff;
}

.fixed-attachment {
    background-attachment: fixed;
}

/*
 * on smaller screen have bg scroll instead of parallax */
@media (max-width: 992px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

.text-banner {
    text-align: center;
    margin: 46px 22px;
}

.text-banner h1 {
    font-size: 48px;
}

.text-banner h1.jwhite{
    color: whitesmoke;
    font-size: 72px;
    font-weight: 500;
}

.text-banner h1.jabout {
    font-size: 64px;
}

.text-banner p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
}

.process-section {
    margin: 56px;
}

.process-element {
    text-align: center;
}

.process-element img {
    width: 190px;
    height: 150px;
}

#carousel {
    margin: 40px 0;
}

#carousel img {
    width: 100%;
    height: auto;
}

.contact-me {
    padding-top: 10%;
}

.contact-row {
    margin-top: 30px;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #cfcfcf;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #cfcfcf;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.86em;
    line-height: 1.7em;
    vertical-align: baseline;
    opacity: 0;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}
.center-text {
    top:50%;
    text-align: center;
    color: whitesmoke;
    padding: 10%;
    font-size: 60px;
    font-weight: 500;
}

.center-text-quote-section {
    top:50%;
    text-align: center;
    color: whitesmoke;
    padding: 10%;
    font-size: 48px;
    font-weight: 500;
}

.contact-section {
    padding: 80px 0;
}

.headline {
    color: whitesmoke;
}

#jfooter h1.footer-email {
    font-size: 36px;
}


/*
 * END OF css file */